.contacts {
  position: relative;

  padding: 70px 50px 70px 225px;

  background: #ffffff;

  &:before {
    position: absolute;
    left: 110px;
    top: 135px;

    width: 47px;
    height: 81px;

    background: url("../img/sprites-index-page.png") -5px -87px;

    content: "";
  }

  &__wrapper {
    float: left;
    width: 40%;
    padding: 55px 0 0 0;

    font-family: "MyriadPro_regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
  }

  &__title {
    margin: 0;

    text-align: left;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
  }

  &__mail {
    margin: 40px 0;
  }

  &__mail-text {
    padding: 0 0 0 30px;
    text-decoration: underline #56c3b2;

    transition: .4s;

    &:hover {
      color: #56c3b2;
      transition: .6s;
    }
  }

  &__address {
    margin-bottom: 70px;
  }

  &__address-text {
    padding: 0 0 0 30px;
  }
  &__map {
    float: left;
    width: 60%;
  }

  &__btn {
    display: block;
    width: 65%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contacts {
    padding: 75px 0;

    &:before {
      left: 670px;
      top: 65px;
    }

    &__wrapper {
      padding: 0 0 0 50px;
      float: none;
      width: 100%;
    }

    &__title {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__mail {
      width: 50%;
      float: left;
      margin: 0;
    }
    &__address {
      width: 30%;
      float: left;
      margin: 0;
    }

    &__map {
      float: none;
      width: 100%;
      margin: 35px 0;
    }

    &__btn {
      position: absolute;
      bottom: 25px;
      left: calc( 50% - 120px);
      width: 30%;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .contacts {
    padding: 50px 0 100px 0;

    &:before {
      display: none;
    }

    &__title {
      font-size: 24px;
      line-height: 30px;
    }

    &__wrapper {
      padding: 0 0 0 30px;
      float: none;
      width: 100%
    }

    &__address {
      margin-bottom: 20px;
    }

    &__map {
      float: none;
      width: 100%;
    }

    &__btn {
      position: absolute;
      left: 0;
      bottom:  20px;

      margin: 0 10%;
      width: 80%;
    }
  }
}